body {
  margin: 0;
  padding: 0;
  background-color: burlywood;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.heading {
  color:   honeydew;
  background-color: grey;
  padding: 0.6rem 2rem;
}
.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uploader h2 {
  padding: 0.5rem 1rem;
  background-color: cornsilk;
}

@media (max-width: 800px) {
  body {
    background-color: ghostwhite;
  }
  .page-container {
    padding: 0.5rem;
    background-color: ghostwhite;
  }
  iframe {
    height: 450px;
  }
}
