body {
  font-family:'Arial Narrow';
  margin: 0;
  padding: 0;
  background-color: burlywood;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  
}
.page-container button {
  border-radius: 8px;
  color: whitesmoke;
  font-weight: 600;
  padding: 0.5rem;
  background-color: brown;
}

.heading {
  color:   honeydew;
  background-color: darkslategray;
  padding: 0.6rem 2rem;
}
.uploader {padding: 1rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uploader h2 {
  padding: 0.5rem 1rem;
  background-color: cornsilk;
}

@media (max-width: 768px) {
  body {
    background-color: ghostwhite;
  }
  .page-container {
    padding: 0.5rem;
    background-color: ghostwhite;
  }
  .heading {
    font-size: medium;
    padding: 0.6rem 1rem;
  }
  iframe {
    height: 450px;
  }
}
